<div class="chat-wrapper">
  <div class="chat-header">
    Chat Application
  </div>
  <div class="chat-container">
    <div class="user-list">
      <div class="user" *ngFor="let user of users">
        {{ user.name }}
      </div>
    </div>
    <div class="chat-messages">
      <ng-container *ngFor="let msg of messages">
        <div [ngClass]="{ 'message': true, 'self': msg.self }" [@messageAnimation]>
          <div class="message-content">
            {{ msg.text }}
          </div>
        </div>
      </ng-container>
      <div class="typing-indicator" *ngIf="typingMessage">
        {{ typingMessage }}
      </div>
    </div>
  </div>
  <div class="input-wrapper">
    <input class="chat-input" [(ngModel)]="message" placeholder="Type a message" (keyup.enter)="sendMessage()" (input)="onTyping()" />
    <button class="send-button" (click)="sendMessage()">Send</button>
  </div>
</div>
